*{
    font-family: 'Inter';
}

#titleimage{
    max-width: 100%;
    height: auto;
    margin: auto;
}

#container{

    max-width: 850px;
    margin: auto; 
}

#heading{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    /* margin-bottom: 20px; */
}


#articletitle{
    width: 50%;
    flex-grow: 1;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#articletitle_main{
    font-size: 35px;
    font-weight: 700;
    align-self: flex-start;
}

#subtitle{
    font-size: 18px;
    font-weight: 400;
}

#datebyline{
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
}


#headingimage{
    flex-grow: 1;
}

#subheading{
    font-size: 10px;
    margin: auto;
    text-align: left;

}

.pointcontainer{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px;*/
    align-items: t;
    flex: 1;
}

.pointtext{
    margin-right: 25px;
    margin-top: 0px;
    flex: 1;
}

.pointimage{
    max-width: 800px;
}

#imagetitle{
    font-size: 16px;
    text-align: center;

}

#contentsbox{
    float: right;
    border: 1px solid #000000;
    width: 40%;
    background-color: lightgray;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 7px;
    padding-top: 5px;
    padding-right: 7px;
}

#citation{
    font-size: 20px;
    margin-top: 10px;
    border-color: gray;
}

#toggleButton{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom:50px;
    border-color: gray;
} 


 #scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f3f3f3; */
    background-color: white;
    padding: 1rem;
}

#scrolly>* {  /* selects all direct descendants of #scrolly */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: white;
    z-index: 0;
}

/* figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
} */

.step {
    margin: 0 auto 2rem auto;
    background-color: white;
    /* color: #fff; */
    /* color: #3b3b3b; */
    font-weight: 100;
    /* opacity: 0; */
    color: black;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    /* background-color: white; */
    /* color: #3b3b3b; */
    /* font-weight: 500; */
    color: black;
}

.step p {
    text-align: left;
    /* padding: 1rem; */
    font-size: 16px;
    font-family: 'Inter';
    /* margin-right: 0px; */
    padding-top: 40px;
}