*{
    font-family: 'Inter';
}

#titleimage{
    max-width: 100%;
    height: auto;
    margin: auto;
}

#container{

    max-width: 850px;
    margin: auto; 
}

#heading{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}


#articletitle{
    width: 50%;
    flex-grow: 1;
    /* margin-bottom: 25px; */
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#articletitle_main{
    font-size: 35px;
    font-weight: 700;
    align-self: flex-start;
}

#subtitle{
    font-size: 18px;
    font-weight: 400;
}

#datebyline{
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
}


#headingimage{
    flex-grow: 1;
}

#subheading{
    font-size: 10px;
    margin: auto;
    text-align: left;

}

.pointcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: t;
    justify-content: center;
    flex: 1;
}

.pointtext{
    margin-right: 25px;
    margin-top: 0px;
    flex: 1;
}

.pointimage{
    max-width: 100%;
    height: auto;
    justify-content: center;
}

.varimage{
    max-width: 100%;
    height: auto;
    margin: auto;
}

#imagetitle{
    font-size: 16px;
    text-align: center;

}
